.app {
  display: flex;
  /* height: 100%;
  width: 100%; */
 
}

.navbar {
  height: 100vh;
  width: 100px;
  background: hotpink;
}

.icons {
  display: flex;
  flex-direction: column;
  margin: 200px auto 0 auto; 
  font-size: 300%;
  margin-left: 20%;
  justify-content: space-between;
}

.icons  i .post {
  margin-top: 50px;
}